mvp_multi_agent_customer_inquiry_handler.json
{"name":"MVP Multi-Agent Customer Inquiry Handler","nodes":[{"parameters":{},"id":"b5fe4bd7-9a3d-4079-acb3-097cf4c56cf7","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-900,-180]},{"parameters":{"jsCode":"return [{\n  json: {\n    source: \"gmail\",\n    customerName: \"Aisha Khan\",\n    customerEmail: \"aisha@example.com\",\n    customerPhone: \"\",\n    subject: \"Need pricing and setup help\",\n    message: \"Hi, I am interested in your automation service. Can you explain pricing, setup time, and whether you support WhatsApp inquiries?\",\n    sendReply: false,\n    settings: {\n      businessName: \"Demo Automation Agency\",\n      businessContext: \"We build self-hosted n8n automations for customer support, sales lead qualification, and operations.\",\n      tone: \"friendly, concise, professional\",\n      ollamaBaseUrl: \"http://host.docker.internal:11434\",\n      ollamaModel: \"llama3.1\",\n      maxReplyWords: 180\n    },\n    knowledgeBase: [\n      {\"title\":\"Pricing\",\"text\":\"Starter automation setup begins at 499 USD for one channel. Multi-channel Gmail plus WhatsApp workflows usually begin at 999 USD depending on integrations.\"},\n      {\"title\":\"Setup time\",\"text\":\"A typical MVP setup takes 5 to 10 business days after credentials, business FAQs, and test data are ready.\"},\n      {\"title\":\"Channels\",\"text\":\"We support Gmail, WhatsApp Business Cloud API, Google Drive knowledge lookup, and Google Sheets CRM logging.\"}\n    ]\n  }\n}];"},"id":"dc7f5a7f-084d-4a52-a136-0b3d1ab99e80","name":"Manual Test Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-680,-180]},{"parameters":{"httpMethod":"POST","path":"customer-inquiry-handler-test","responseMode":"lastNode","options":{}},"id":"acd9247f-bfd1-4fa5-8259-23878b1e6a02","name":"Webhook Test Inquiry","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-900,80]},{"parameters":{"jsCode":"const input = $input.first()?.json ?? {};\nconst payload = input.body ?? input;\nconst now = new Date();\nconst runId = payload.runId || `ci_${now.getTime()}_${Math.random().toString(36).slice(2, 8)}`;\nconst source = String(payload.source || payload.channel || \"test\").toLowerCase();\nconst message = String(payload.message || payload.text || payload.bodyText || payload.plainText || \"\").trim();\nconst subject = String(payload.subject || payload.title || \"Customer inquiry\").trim();\nconst customerName = String(payload.customerName || payload.name || payload.customer?.name || \"Customer\").trim();\nconst customerEmail = String(payload.customerEmail || payload.email || payload.from || payload.customer?.email || \"\").trim();\nconst customerPhone = String(payload.customerPhone || payload.phone || payload.waId || payload.customer?.phone || \"\").trim();\nconst settings = payload.settings || {};\nconst defaultKnowledge = [\n  { title: \"Fallback support policy\", text: \"When information is missing, acknowledge the customer, ask for the missing details, and avoid inventing facts.\" },\n  { title: \"Escalation rule\", text: \"Escalate angry complaints, refund disputes, legal threats, payment failures, and high-value leads to a human owner.\" }\n];\nconst knowledgeBase = Array.isArray(payload.knowledgeBase) ? payload.knowledgeBase : Array.isArray(payload.knowledge_base) ? payload.knowledge_base : defaultKnowledge;\nconst config = {\n  businessName: settings.businessName || payload.businessName || \"Your Business\",\n  businessContext: settings.businessContext || payload.businessContext || \"Customer inquiry handling automation.\",\n  tone: settings.tone || payload.tone || \"friendly, concise, professional\",\n  ollamaBaseUrl: String(settings.ollamaBaseUrl || payload.ollamaBaseUrl || \"http://host.docker.internal:11434\").replace(/\\/$/, \"\"),\n  ollamaModel: settings.ollamaModel || payload.ollamaModel || \"llama3.1\",\n  maxReplyWords: Number(settings.maxReplyWords || payload.maxReplyWords || 180),\n  allowSend: Boolean(payload.sendReply === true || payload.allowSend === true)\n};\nif (!message) {\n  throw new Error(\"Missing required inquiry message. Send JSON with a message field.\");\n}\nconst contact = source === \"whatsapp\" ? customerPhone : customerEmail;\nconst state = {\n  runId,\n  source,\n  receivedAt: now.toISOString(),\n  customer: { name: customerName, email: customerEmail, phone: customerPhone, contact },\n  subject,\n  message,\n  config,\n  knowledgeBase,\n  originalPayload: payload,\n  trace: [{\n    agent: \"System\",\n    step: \"Normalize\",\n    status: \"ok\",\n    at: now.toISOString(),\n    decision: `Normalized ${source} inquiry into shared state.`,\n    output: { runId, source, subject, contactPresent: Boolean(contact), knowledgeItems: knowledgeBase.length }\n  }],\n  errors: []\n};\nreturn [{ json: { state } }];"},"id":"4fa9b647-2d75-4948-a640-82082ad843e1","name":"Normalize Inquiry","type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,-40]},{"parameters":{"jsCode":"const state = $input.first().json.state;\nconst system = `You are the Classifier Agent for ${state.config.businessName}. Classify one customer inquiry. Return only valid JSON. No markdown.`;\nconst user = {\n  task: \"Classify the inquiry and decide routing.\",\n  businessContext: state.config.businessContext,\n  inquiry: { source: state.source, subject: state.subject, message: state.message, customer: state.customer },\n  requiredJsonSchema: {\n    inquiryType: \"question|complaint|order|support_ticket|sales_lead|other\",\n    priority: \"low|medium|high|urgent\",\n    sentiment: \"positive|neutral|negative|angry\",\n    language: \"string\",\n    needsResearch: \"boolean\",\n    needsHuman: \"boolean\",\n    confidence: \"number 0 to 1\",\n    reason: \"short string\"\n  }\n};\nconst ollamaRequest = { model: state.config.ollamaModel, stream: false, format: \"json\", messages: [{ role: \"system\", content: system }, { role: \"user\", content: JSON.stringify(user) }] };\nreturn [{ json: { state, ollamaRequest } }];"},"id":"99bf3637-c8b2-4c2c-a85d-94e4792144c8","name":"Prepare Classifier Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,-40]},{"parameters":{"method":"POST","url":"={{$json.state.config.ollamaBaseUrl + \"/api/chat\"}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.ollamaRequest}}","options":{"timeout":30000}},"id":"12962169-1c14-4cbc-9e05-a831703852e9","name":"Ollama Classifier","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-40],"continueOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"function getPreviousState() {\n  try { return $items(\"Prepare Classifier Prompt\")[0].json.state; } catch (error) { return $input.first().json.state || {}; }\n}\nfunction contentFromResponse(response) {\n  if (response?.message?.content) return response.message.content;\n  if (response?.response) return response.response;\n  if (response?.data?.message?.content) return response.data.message.content;\n  if (typeof response === \"string\") return response;\n  return \"\";\n}\nfunction parseJsonLoose(text) {\n  if (!text) return null;\n  try { return JSON.parse(text); } catch (error) {}\n  const match = String(text).match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { return JSON.parse(match[0]); } catch (error) {}\n  }\n  return null;\n}\nfunction fallbackClassifier(state) {\n  const text = `${state.subject} ${state.message}`.toLowerCase();\n  const complaint = /(angry|bad|broken|refund|cancel|complaint|not working|issue|problem|late|wrong)/.test(text);\n  const order = /(order|tracking|delivery|invoice|payment|paid|ship|shipping)/.test(text);\n  const sales = /(price|pricing|quote|buy|purchase|demo|interested|cost|plan|service)/.test(text);\n  const support = /(how|help|setup|configure|login|support|error|integrate)/.test(text);\n  let inquiryType = \"question\";\n  if (complaint) inquiryType = \"complaint\";\n  else if (order) inquiryType = \"order\";\n  else if (sales) inquiryType = \"sales_lead\";\n  else if (support) inquiryType = \"support_ticket\";\n  const priority = complaint ? \"high\" : sales ? \"medium\" : \"low\";\n  return {\n    inquiryType,\n    priority,\n    sentiment: complaint ? \"negative\" : \"neutral\",\n    language: \"en\",\n    needsResearch: true,\n    needsHuman: complaint && /(refund|legal|angry|cancel)/.test(text),\n    confidence: 0.66,\n    reason: \"Fallback keyword classifier used because the model response was unavailable or invalid.\"\n  };\n}\nconst state = getPreviousState();\nconst response = $input.first().json;\nconst parsed = parseJsonLoose(contentFromResponse(response)) || fallbackClassifier(state);\nconst classifier = {\n  inquiryType: parsed.inquiryType || \"other\",\n  priority: parsed.priority || \"medium\",\n  sentiment: parsed.sentiment || \"neutral\",\n  language: parsed.language || \"en\",\n  needsResearch: parsed.needsResearch !== false,\n  needsHuman: Boolean(parsed.needsHuman),\n  confidence: Math.max(0, Math.min(1, Number(parsed.confidence ?? 0.5))),\n  reason: parsed.reason || \"Classified inquiry.\"\n};\nstate.classifier = classifier;\nstate.trace.push({ agent: \"Classifier\", step: \"Classify inquiry\", status: \"ok\", at: new Date().toISOString(), decision: classifier.reason, output: classifier });\nreturn [{ json: { state } }];"},"id":"e234e77d-d360-4a8b-b993-1b02c2e0efa1","name":"Parse Classifier Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-40]},{"parameters":{"jsCode":"const state = $input.first().json.state;\nconst system = `You are the Researcher Agent for ${state.config.businessName}. Use only the supplied knowledge base and business context. If data is missing, say what is missing. Return only valid JSON.`;\nconst user = {\n  task: \"Research the best grounded answer for the customer inquiry.\",\n  businessContext: state.config.businessContext,\n  inquiry: { subject: state.subject, message: state.message, classifier: state.classifier },\n  knowledgeBase: state.knowledgeBase,\n  requiredJsonSchema: {\n    answerFound: \"boolean\",\n    answerSummary: \"short grounded answer\",\n    sources: [{ title: \"string\", snippet: \"string\" }],\n    missingInfo: [\"string\"],\n    confidence: \"number 0 to 1\"\n  }\n};\nconst ollamaRequest = { model: state.config.ollamaModel, stream: false, format: \"json\", messages: [{ role: \"system\", content: system }, { role: \"user\", content: JSON.stringify(user) }] };\nreturn [{ json: { state, ollamaRequest } }];"},"id":"e0738fe3-23ab-4c5f-a9c4-2a4ec43409b4","name":"Prepare Researcher Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,-40]},{"parameters":{"method":"POST","url":"={{$json.state.config.ollamaBaseUrl + \"/api/chat\"}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.ollamaRequest}}","options":{"timeout":30000}},"id":"e97bd9af-e3c9-4949-b799-d8891a704d80","name":"Ollama Researcher","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-40],"continueOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"function getPreviousState() {\n  try { return $items(\"Prepare Researcher Prompt\")[0].json.state; } catch (error) { return $input.first().json.state || {}; }\n}\nfunction contentFromResponse(response) {\n  if (response?.message?.content) return response.message.content;\n  if (response?.response) return response.response;\n  if (response?.data?.message?.content) return response.data.message.content;\n  if (typeof response === \"string\") return response;\n  return \"\";\n}\nfunction parseJsonLoose(text) {\n  if (!text) return null;\n  try { return JSON.parse(text); } catch (error) {}\n  const match = String(text).match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { return JSON.parse(match[0]); } catch (error) {}\n  }\n  return null;\n}\nfunction fallbackResearcher(state) {\n  const text = `${state.subject} ${state.message}`.toLowerCase();\n  const scored = (state.knowledgeBase || []).map((doc) => {\n    const hay = `${doc.title || \"\"} ${doc.text || doc.content || \"\"}`.toLowerCase();\n    const score = text.split(/\\W+/).filter((w) => w.length > 3 && hay.includes(w)).length;\n    return { doc, score };\n  }).sort((a, b) => b.score - a.score);\n  const top = scored.filter((x) => x.score > 0).slice(0, 3).map((x) => ({\n    title: x.doc.title || \"Knowledge item\",\n    snippet: String(x.doc.text || x.doc.content || \"\").slice(0, 240)\n  }));\n  return {\n    answerFound: top.length > 0,\n    answerSummary: top.length ? top.map((s) => s.snippet).join(\" \") : \"No exact knowledge base match was found. Ask a clarifying question and avoid guessing.\",\n    sources: top,\n    missingInfo: top.length ? [] : [\"Relevant knowledge base article\"],\n    confidence: top.length ? 0.65 : 0.35\n  };\n}\nconst state = getPreviousState();\nconst parsed = parseJsonLoose(contentFromResponse($input.first().json)) || fallbackResearcher(state);\nconst researcher = {\n  answerFound: Boolean(parsed.answerFound),\n  answerSummary: parsed.answerSummary || \"\",\n  sources: Array.isArray(parsed.sources) ? parsed.sources : [],\n  missingInfo: Array.isArray(parsed.missingInfo) ? parsed.missingInfo : [],\n  confidence: Math.max(0, Math.min(1, Number(parsed.confidence ?? 0.5)))\n};\nstate.researcher = researcher;\nstate.trace.push({ agent: \"Researcher\", step: \"Retrieve and ground answer\", status: researcher.answerFound ? \"ok\" : \"needs_info\", at: new Date().toISOString(), decision: researcher.answerFound ? \"Found usable support context.\" : \"Missing reliable knowledge context.\", output: researcher });\nreturn [{ json: { state } }];"},"id":"a1633a34-5132-4226-a6a7-5122472c49fa","name":"Parse Researcher Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,-40]},{"parameters":{"jsCode":"const state = $input.first().json.state;\nconst system = `You are the Qualifier Agent for ${state.config.businessName}. Score the inquiry as a lead/support request and decide escalation. Return only valid JSON.`;\nconst user = {\n  task: \"Qualify the inquiry and decide next action.\",\n  inquiry: { customer: state.customer, subject: state.subject, message: state.message },\n  classifier: state.classifier,\n  researcher: state.researcher,\n  requiredJsonSchema: {\n    leadScore: \"integer 0 to 100\",\n    qualified: \"boolean\",\n    urgency: \"low|medium|high|urgent\",\n    nextAction: \"send_reply|ask_clarifying_question|escalate_to_human\",\n    tags: [\"string\"],\n    escalationReason: \"string\"\n  }\n};\nconst ollamaRequest = { model: state.config.ollamaModel, stream: false, format: \"json\", messages: [{ role: \"system\", content: system }, { role: \"user\", content: JSON.stringify(user) }] };\nreturn [{ json: { state, ollamaRequest } }];"},"id":"4299f15e-9efe-488f-a840-d73b784fbbc4","name":"Prepare Qualifier Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,-40]},{"parameters":{"method":"POST","url":"={{$json.state.config.ollamaBaseUrl + \"/api/chat\"}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.ollamaRequest}}","options":{"timeout":30000}},"id":"a873beb2-1f31-494b-8f79-968947223cd4","name":"Ollama Qualifier","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,-40],"continueOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"function getPreviousState() {\n  try { return $items(\"Prepare Qualifier Prompt\")[0].json.state; } catch (error) { return $input.first().json.state || {}; }\n}\nfunction contentFromResponse(response) {\n  if (response?.message?.content) return response.message.content;\n  if (response?.response) return response.response;\n  if (response?.data?.message?.content) return response.data.message.content;\n  if (typeof response === \"string\") return response;\n  return \"\";\n}\nfunction parseJsonLoose(text) {\n  if (!text) return null;\n  try { return JSON.parse(text); } catch (error) {}\n  const match = String(text).match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { return JSON.parse(match[0]); } catch (error) {}\n  }\n  return null;\n}\nfunction fallbackQualifier(state) {\n  const type = state.classifier?.inquiryType || \"other\";\n  const priority = state.classifier?.priority || \"medium\";\n  const sales = type === \"sales_lead\";\n  const needsHuman = Boolean(state.classifier?.needsHuman) || priority === \"urgent\";\n  const leadScore = sales ? 72 : type === \"complaint\" ? 35 : 45;\n  return {\n    leadScore,\n    qualified: sales && leadScore >= 60,\n    urgency: priority,\n    nextAction: needsHuman ? \"escalate_to_human\" : state.researcher?.answerFound ? \"send_reply\" : \"ask_clarifying_question\",\n    tags: [type, priority].filter(Boolean),\n    escalationReason: needsHuman ? \"Classifier marked inquiry as requiring human review.\" : \"\"\n  };\n}\nconst state = getPreviousState();\nconst parsed = parseJsonLoose(contentFromResponse($input.first().json)) || fallbackQualifier(state);\nconst qualifier = {\n  leadScore: Math.max(0, Math.min(100, Number(parsed.leadScore ?? 0))),\n  qualified: Boolean(parsed.qualified),\n  urgency: parsed.urgency || state.classifier?.priority || \"medium\",\n  nextAction: parsed.nextAction || \"send_reply\",\n  tags: Array.isArray(parsed.tags) ? parsed.tags : [],\n  escalationReason: parsed.escalationReason || \"\"\n};\nstate.qualifier = qualifier;\nstate.trace.push({ agent: \"Qualifier\", step: \"Qualify and route\", status: \"ok\", at: new Date().toISOString(), decision: qualifier.nextAction, output: qualifier });\nreturn [{ json: { state } }];"},"id":"d16b6b8e-d2a3-42c1-9d41-459e8f3659f4","name":"Parse Qualifier Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,-40]},{"parameters":{"jsCode":"const state = $input.first().json.state;\nconst system = `You are the Responder Agent for ${state.config.businessName}. Draft a reply for the original channel. Be ${state.config.tone}. Do not invent facts. Keep under ${state.config.maxReplyWords} words. Return only valid JSON.`;\nconst user = {\n  task: \"Draft a customer-ready response.\",\n  customer: state.customer,\n  source: state.source,\n  subject: state.subject,\n  message: state.message,\n  classifier: state.classifier,\n  research: state.researcher,\n  qualifier: state.qualifier,\n  requiredJsonSchema: {\n    finalReply: \"string\",\n    replySubject: \"string\",\n    needsHumanReview: \"boolean\",\n    confidence: \"number 0 to 1\",\n    rationale: \"short string\"\n  }\n};\nconst ollamaRequest = { model: state.config.ollamaModel, stream: false, format: \"json\", messages: [{ role: \"system\", content: system }, { role: \"user\", content: JSON.stringify(user) }] };\nreturn [{ json: { state, ollamaRequest } }];"},"id":"2fed95e7-776e-440f-813d-414c5b009247","name":"Prepare Responder Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,-40]},{"parameters":{"method":"POST","url":"={{$json.state.config.ollamaBaseUrl + \"/api/chat\"}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.ollamaRequest}}","options":{"timeout":30000}},"id":"b9c204e8-184c-404e-b072-6339fbe87fef","name":"Ollama Responder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,-40],"continueOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"function getPreviousState() {\n  try { return $items(\"Prepare Responder Prompt\")[0].json.state; } catch (error) { return $input.first().json.state || {}; }\n}\nfunction contentFromResponse(response) {\n  if (response?.message?.content) return response.message.content;\n  if (response?.response) return response.response;\n  if (response?.data?.message?.content) return response.data.message.content;\n  if (typeof response === \"string\") return response;\n  return \"\";\n}\nfunction parseJsonLoose(text) {\n  if (!text) return null;\n  try { return JSON.parse(text); } catch (error) {}\n  const match = String(text).match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { return JSON.parse(match[0]); } catch (error) {}\n  }\n  return null;\n}\nfunction fallbackResponder(state) {\n  const name = state.customer?.name || \"there\";\n  const research = state.researcher?.answerSummary || \"\";\n  const missing = state.researcher?.missingInfo || [];\n  const greeting = state.source === \"whatsapp\" ? `Hi ${name},` : `Hi ${name},`;\n  let body;\n  if (state.qualifier?.nextAction === \"escalate_to_human\") {\n    body = `${greeting}\\n\\nThanks for reaching out. I’ve received your message and I’m going to have the right person review it so we can respond accurately. We’ll follow up with you as soon as possible.\\n\\nBest,\\n${state.config.businessName}`;\n  } else if (missing.length) {\n    body = `${greeting}\\n\\nThanks for your message. I can help with this, but I need one more detail before giving a complete answer: ${missing.join(\", \")}.\\n\\nOnce you share that, I’ll guide you with the next step.\\n\\nBest,\\n${state.config.businessName}`;\n  } else {\n    body = `${greeting}\\n\\nThanks for reaching out. ${research}\\n\\nPlease let me know if you’d like me to help with the next step.\\n\\nBest,\\n${state.config.businessName}`;\n  }\n  return {\n    finalReply: body,\n    replySubject: state.subject?.startsWith(\"Re:\") ? state.subject : `Re: ${state.subject || \"Your inquiry\"}`,\n    needsHumanReview: state.qualifier?.nextAction === \"escalate_to_human\",\n    confidence: state.researcher?.confidence || 0.55,\n    rationale: \"Fallback response drafted from classifier, researcher, and qualifier state.\"\n  };\n}\nconst state = getPreviousState();\nconst parsed = parseJsonLoose(contentFromResponse($input.first().json)) || fallbackResponder(state);\nconst responder = {\n  finalReply: parsed.finalReply || fallbackResponder(state).finalReply,\n  replySubject: parsed.replySubject || `Re: ${state.subject || \"Your inquiry\"}`,\n  needsHumanReview: Boolean(parsed.needsHumanReview || state.qualifier?.nextAction === \"escalate_to_human\"),\n  confidence: Math.max(0, Math.min(1, Number(parsed.confidence ?? 0.5))),\n  rationale: parsed.rationale || \"Drafted final reply.\"\n};\nstate.responder = responder;\nstate.trace.push({ agent: \"Responder\", step: \"Draft response\", status: responder.needsHumanReview ? \"needs_review\" : \"ok\", at: new Date().toISOString(), decision: responder.rationale, output: { replySubject: responder.replySubject, finalReply: responder.finalReply, needsHumanReview: responder.needsHumanReview, confidence: responder.confidence } });\nreturn [{ json: { state } }];"},"id":"a8138e31-8b9e-48fc-9273-4c01bd96b2db","name":"Parse Responder Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2460,-40]},{"parameters":{"jsCode":"const state = $input.first().json.state;\nconst started = new Date(state.receivedAt).getTime();\nconst durationMs = Date.now() - started;\nconst agentConfidence = [\n  state.classifier?.confidence ?? 0.5,\n  state.researcher?.confidence ?? 0.5,\n  state.responder?.confidence ?? 0.5\n];\nconst avgConfidence = agentConfidence.reduce((a, b) => a + b, 0) / agentConfidence.length;\nconst missingPenalty = (state.researcher?.missingInfo?.length || 0) * 1.25;\nconst humanPenalty = state.responder?.needsHumanReview ? 1.5 : 0;\nconst score = Math.max(1, Math.min(10, Math.round((avgConfidence * 10) - missingPenalty - humanPenalty)));\nconst sendReady = Boolean(state.config.allowSend && !state.responder?.needsHumanReview);\nconst finalStatus = state.responder?.needsHumanReview ? \"needs_human_review\" : sendReady ? \"ready_to_send\" : \"draft_only\";\nconst bottlenecks = [];\nif ((state.researcher?.missingInfo || []).length) bottlenecks.push(\"Knowledge base missing required details\");\nif (state.responder?.needsHumanReview) bottlenecks.push(\"Human review required before sending\");\nif (durationMs > 30000) bottlenecks.push(\"Handling time above 30 seconds\");\nconst perAgentPerformance = {\n  classifier: { score: Math.round((state.classifier?.confidence ?? 0.5) * 10), output: state.classifier },\n  researcher: { score: Math.round((state.researcher?.confidence ?? 0.5) * 10), output: state.researcher },\n  qualifier: { score: state.qualifier?.nextAction ? 8 : 5, output: state.qualifier },\n  responder: { score: Math.round((state.responder?.confidence ?? 0.5) * 10), output: { needsHumanReview: state.responder?.needsHumanReview, rationale: state.responder?.rationale } }\n};\nconst logRow = {\n  runId: state.runId,\n  receivedAt: state.receivedAt,\n  completedAt: new Date().toISOString(),\n  source: state.source,\n  customerName: state.customer?.name || \"\",\n  customerContact: state.customer?.contact || \"\",\n  subject: state.subject,\n  messageSnippet: state.message.slice(0, 180),\n  inquiryType: state.classifier?.inquiryType || \"other\",\n  priority: state.classifier?.priority || \"medium\",\n  sentiment: state.classifier?.sentiment || \"neutral\",\n  finalStatus,\n  successScore: score,\n  durationMs,\n  finalReply: state.responder?.finalReply || \"\"\n};\nstate.executor = { finalStatus, sendReady, logRow };\nstate.scorecard = {\n  overallSuccessRating: score,\n  success: score >= 7 && !state.responder?.needsHumanReview,\n  responseQuality: {\n    relevance: Math.round((state.researcher?.confidence ?? 0.5) * 10),\n    completeness: Math.max(1, 10 - ((state.researcher?.missingInfo?.length || 0) * 2)),\n    tone: 8\n  },\n  perAgentPerformance,\n  bottlenecks,\n  averageHandlingTimeMs: durationMs\n};\nstate.trace.push({ agent: \"Executor\", step: \"Prepare channel action and log row\", status: \"ok\", at: new Date().toISOString(), decision: finalStatus, output: { sendReady, finalStatus, score } });\nreturn [{\n  json: {\n    ok: true,\n    workflow: \"MVP Multi-Agent Customer Inquiry Handler\",\n    runId: state.runId,\n    status: finalStatus,\n    source: state.source,\n    reply: {\n      channel: state.source,\n      to: state.customer?.contact || \"\",\n      subject: state.responder?.replySubject || \"\",\n      body: state.responder?.finalReply || \"\",\n      sendReady,\n      sendSkippedReason: sendReady ? \"\" : \"The workflow is in safe draft mode or needs human review. Add Gmail/WhatsApp send nodes after credentials are configured.\"\n    },\n    scorecard: state.scorecard,\n    analytics: {\n      inquiryType: logRow.inquiryType,\n      priority: logRow.priority,\n      successScore: score,\n      durationMs\n    },\n    logRow,\n    trace: state.trace,\n    productionNextStep: \"Connect Gmail Trigger, WhatsApp Trigger, Google Drive retrieval, Google Sheets Append Row, and channel-specific send nodes after credentials are available.\"\n  }\n}];"},"id":"688fabce-65cf-4945-aba8-ae38b9e58294","name":"Executor Scorecard Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,-40]}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Manual Test Payload","type":"main","index":0}]]},"Manual Test Payload":{"main":[[{"node":"Normalize Inquiry","type":"main","index":0}]]},"Webhook Test Inquiry":{"main":[[{"node":"Normalize Inquiry","type":"main","index":0}]]},"Normalize Inquiry":{"main":[[{"node":"Prepare Classifier Prompt","type":"main","index":0}]]},"Prepare Classifier Prompt":{"main":[[{"node":"Ollama Classifier","type":"main","index":0}]]},"Ollama Classifier":{"main":[[{"node":"Parse Classifier Output","type":"main","index":0}]]},"Parse Classifier Output":{"main":[[{"node":"Prepare Researcher Prompt","type":"main","index":0}]]},"Prepare Researcher Prompt":{"main":[[{"node":"Ollama Researcher","type":"main","index":0}]]},"Ollama Researcher":{"main":[[{"node":"Parse Researcher Output","type":"main","index":0}]]},"Parse Researcher Output":{"main":[[{"node":"Prepare Qualifier Prompt","type":"main","index":0}]]},"Prepare Qualifier Prompt":{"main":[[{"node":"Ollama Qualifier","type":"main","index":0}]]},"Ollama Qualifier":{"main":[[{"node":"Parse Qualifier Output","type":"main","index":0}]]},"Parse Qualifier Output":{"main":[[{"node":"Prepare Responder Prompt","type":"main","index":0}]]},"Prepare Responder Prompt":{"main":[[{"node":"Ollama Responder","type":"main","index":0}]]},"Ollama Responder":{"main":[[{"node":"Parse Responder Output","type":"main","index":0}]]},"Parse Responder Output":{"main":[[{"node":"Executor Scorecard Response","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata"},"versionId":"1dd2b5e3-c1be-4ea3-80f6-f5bfa1e317ed","meta":{"templateCredsSetupCompleted":true,"description":"Core n8n workflow for a multi-agent customer inquiry handler using a browser webhook and Ollama-compatible LLM calls."},"tags":[]}